/* SCSS Menu */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1032;
    top: 0;
    left: 0;
    background-color: $black;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 3vh;
    text-align:center;
    ul, li {
        padding: 0;
        margin: auto;
        list-style: none;
        width: 80%;
        max-width: 250px;
        li {
            padding: 4.5vh 0;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            cursor: pointer;
            &:nth-child(1) {
                border-bottom-color: $blue;
            }
            &:nth-child(2) {
                border-bottom-color: $yellow;
            }
            &:nth-child(3) {
                border-bottom-color: $green;
            }
            &:nth-child(4) {
                border-bottom-color: $red;
            }
            &:nth-last-of-type(1) {
                border: none;
                a {
                    font-size: 1rem;
                    margin-bottom: 0.5rem;
                    &:after {
                        content: '\203A';
                        position: absolute;
                        margin-left: 15px;
                    }
                }
            }        
        }
    }
    a {
        padding: 0;
        text-decoration: none;
        font-size: 25px;
        color: $white;
        display: block;
        transition: 0.3s;
        &:hover{
            color: #f1f1f1;
        }
    }
    .closebtn {
        font-size: 2rem !important;
        border: 4px solid $white;
        border-radius: 100%;
        width: 45px;
        height: 45px;
        padding: 0;
        margin: 2rem auto 0;
        font-weight: $bold;
        line-height: 34px;
        &:after {
            content: "" !important;
        }
    }
}
